.wrapper {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
}

h2, h4 {
	margin: 0;
}

.title {
	text-align: center;
	color: #1b3248;
	font-size: 3em;
	font-weight: 300;
}

.title span{
	color: red;
	font-style: italic;
	margin-right: 5px;
}

.products {
	display: flex;
}

.products__wrapper {
	/* border: 1px solid red; */
	display: flex;
	gap: 7px;
	flex-direction: row;
	align-self: center;
	flex-wrap: wrap;
	flex: 1 0;
}

.products__item {
	width: 350px;
	height: 200px;
	border: 1px solid #e5e8ea;
	background-color: #f5f7f9;
	border-radius: 10px;
	margin: 5px;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.line::before {
	content: "";
	width: 100%;
	height: 0.5px;
	background-color: #dfdbdb;
	top: 144px;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	z-index: 1;
}

.products__img {
	width: 180px;
	height: 110px;
	margin: 15px 0 0 15px;
}


.products__title {
	color: #384c5c;
	margin-top: 15px;
	margin-left: 20px;
}

.products__title h4 {
	font-weight: 300;
}

.products__desc {
	color: #2c3a48;
	padding-bottom: 15px;
	font-weight: 300;
	margin: 25px 0 0 20px;
}

.products__desc p {
	margin: 0;
}

span {
	font-weight: 700;
}

hr {
	position: absolute;
	bottom: 22%;
	width: 100%;
}

.aside {
	width: 20%;
	margin: 0 0 0 15px;
	background-color: #f6f7f9;
}

.aside span {
	margin-top: 20px;
}

.aside__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.aside__title {
	margin-top: 10px;
}

.aside__btn {
	display: flex;
	flex-direction: column;
	margin-top: 40px;
	gap: 15px;
	width: 70%;
	font-weight: 900;
}

.aside__btn .btn {
	padding: 15px 0;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	background-color: #e2e6e9;
	color: #384c5c;
	font-weight: 600;
	cursor: pointer;
}


@media screen and (max-width: 768px) {
	.products {
		flex-direction: column;
	}
	.products__item {
		width: 200px;
		height: 185px;
		flex: 1 0;
		border-radius: 10px;
	}
	.products__img {
		margin: 0;
		width: 250px;
		height: 130px;
		padding: 10px;
	}
	.products__title {
		margin-left: 13px;
		margin-top: -8px;
		font-size: 16px;
	}
	.products__desc {
		display: none;
	}
	br {
		display: none;
	}
	.aside {
		width: 100%;
		margin: 0;
		order: -1;
	}
	.aside__title, .aside__wrapper span {
		display: none;
	}
	.aside__btn {
		width: 100%;
		flex-flow: row wrap;
		margin: 0;
		gap: 10px;
	}
	.aside__btn .btn {
		width: 30%;
		flex-grow: 1;
	}
}

@media only screen and (max-width: 330px) {
	.products__wrapper {
		display: flex;
		flex-direction: column;
		padding: 5px;
	}
	.products__item {
		width: 100%;
		height: auto;
		border: none;
	}
	.title {
		font-size: 2em;
	}
	.products__img {
		width: 100%;
		height: auto;
		padding: 0;
		border-radius: 10px;
	}
	.products__title {
		display: none;
	}

	.aside {
		background-color: #fff;
	}
	.aside__btn {
		height: 200px;
		flex-flow: column wrap;
		gap: 5px;
		margin-right: 6px;
	}
	.aside__btn .btn {
		width: 50%;
	}
	.line {
		display: none;
	}
}

@media only screen and (max-width: 365px) {
	.aside__btn .btn {
		width: 40%;
	}
	.products__title {
		display: none;
	}
	.products__img {
		width: 400px;
		height: 160px;
	}
	.line {
		display: none;
	}
}

@media only screen and (min-width: 400px) {
	.aside__btn .btn {
		width: 40%;
	}
	.products__title {
		display: none;
	}
	.products__img {
		width: 350px;
		height: 170px;
	}
	.line {
		display: none;
	}
}

